# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# For additional information regarding the format and correct syntax of this file, please see the browserslist
# documentation at: https://github.com/browserslist/browserslist#readme

last 1 Chrome version
last 1 Firefox version
last 2 Edge major versions
last 2 Safari major versions
Firefox ESR

